@font-face {
    font-family: Lobster;
    src: url(./fonts/Lobster-Regular.ttf)
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #78CCCB;
}

.header {
    text-align: center;
    padding-left: 15px;
    margin: 18px 0px;
    font-family: Lobster, cursive;
    font-size: 64px;
    font-weight: bold;
    color: #FFED66;
}

.content {
    width: 850px;
    padding: 48px 0px;
    border-radius: 16px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF483F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 600px;
    height: 600px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 10px;
}

button {
    border-radius: 0;
    border: 0px;
    padding: 6px 10px;
    font-size: 16px;
}

#color-selector {
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 0px;
    border: 0px;
}